@import url("https://fonts.googleapis.com/css?family=Montserrat");
h1, h2, h3, h4, h5, h6 {
  color: "#151515";
  text-transform: uppercase;
  font-family: "Montserrat", "Sans Serif";
  font-weight: lighter; }

p {
  color: "#151515";
  font-size: 1em;
  font-family: "Times New Roman", "Serif"; }

i {
  font-weight: lighter; }

img {
  width: 100%;
  height: auto; }

body {
  overflow: hidden; }

.topnav {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0; }

.topnav ul {
  list-style: none;
  padding: 0;
  margin: 0; }

.topnav ul li {
  display: inline; }

.topnav ul li a {
  color: white;
  padding: 1em;
  text-decoration: none;
  display: none;
  font-size: 1.5em; }

.topnav ul li a:hover {
  font-weight: bold; }

.topnav ul li:first-child > a {
  display: inline-block; }

.material-icons {
  font-size: 0.92em; }

#menu-icon {
  float: right;
  display: block; }

.topnav.dropped ul li a {
  display: block; }

@media screen and (min-width: 600px) {
  #menu-icon {
    display: none; }

  .topnav ul li a {
    display: inline-block; } }
.section-content {
  visibility: hidden; }

#vendor-list-wrapper {
  display: block;
  position: absolute;
  height: auto;
  top: calc(100vh - 80px);
  left: 0;
  right: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s; }
  #vendor-list-wrapper #vendor-list-content {
    margin: 0 auto;
    position: relative;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 0.1px solid rgba(128, 128, 128, 0.199); }
    #vendor-list-wrapper #vendor-list-content #vendor-list-header {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      padding: 1.5em 3em;
      border: 0.1px solid rgba(128, 128, 128, 0.199); }
      #vendor-list-wrapper #vendor-list-content #vendor-list-header h2 {
        margin: 0; }
      #vendor-list-wrapper #vendor-list-content #vendor-list-header i {
        font-size: 2em; }
    #vendor-list-wrapper #vendor-list-content :hover {
      cursor: pointer; }
    #vendor-list-wrapper #vendor-list-content #vendor-list-vendors {
      height: auto;
      position: relative;
      display: block;
      padding: 2em;
      overflow: scroll;
      height: 50vh;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
      #vendor-list-wrapper #vendor-list-content #vendor-list-vendors .vendor-item {
        margin: 1em 4em; }

@media screen and (min-width: 1000px) {
  #vendor-list-wrapper {
    padding: 0 4em; } }
