@import url("https://fonts.googleapis.com/css?family=Montserrat");
h1, h2, h3, h4, h5, h6 {
  color: "#151515";
  text-transform: uppercase;
  font-family: "Monteserrat, Sans Serif"; }

p {
  color: "#151515";
  font-size: 1em; }

img {
  width: 100%;
  height: auto; }

.topnav {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0; }

.topnav ul {
  list-style: none;
  padding: 0;
  margin: 0; }

.topnav ul li {
  display: inline; }

.topnav ul li a {
  color: white;
  padding: 1em;
  text-decoration: none;
  display: none;
  font-size: 1.5em; }

.topnav ul li a:hover {
  font-weight: bold; }

.topnav ul li:first-child > a {
  display: inline-block; }

.material-icons {
  font-size: 0.92em; }

#menu-icon {
  float: right;
  display: block; }

.topnav.dropped ul li a {
  display: block; }

@media screen and (min-width: 600px) {
  #menu-icon {
    display: none; }

  .topnav ul li a {
    display: inline-block; } }
.section-content {
  visibility: hidden; }

#vendor-list-wrapper {
  display: block;
  position: absolute;
  background-color: green;
  width: 100%;
  height: auto;
  top: calc(100% - 10vh);
  left: 0;
  right: 0;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s; }
  #vendor-list-wrapper #vendor-list-content {
    background-color: red;
    margin: 0 auto;
    position: relative; }
    #vendor-list-wrapper #vendor-list-content #vendor-list-header {
      height: 10vh;
      background-color: green;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      padding: 1em; }
      #vendor-list-wrapper #vendor-list-content #vendor-list-header h2 {
        margin: 0; }
    #vendor-list-wrapper #vendor-list-content :hover {
      cursor: pointer; }
    #vendor-list-wrapper #vendor-list-content #vendor-list-vendors {
      height: auto;
      position: relative;
      display: block;
      overflow: hidden; }
