#content-about:not(.hidden){
    display: grid;
    height: 100vh; 
    overflow: scroll;
    
    #about-us-text{
        padding: 4em 1em;
    }
}

@media screen and (min-width: 800px){
    #content-about:not(.hidden){
        grid-template-columns: repeat($columnAbout, 1fr);
        overflow: hidden;
        #about-us-text{
            height: 90vh;
            overflow: scroll;
            padding: 8em 4em; //varför stryker den denna?
        }
        
    }
    
    
}