#content-wrapper{
    position: absolute;
    top: 100vh;
    height: 95vh;
    z-index: -1;
    
    transition-duration: $transition-time;
    left: 0;
  

}
    #content-collection{
        visibility: hidden;
    }
    #content-contact{
        visibility: hidden;
    }
 
    #content-about{
        visibility: hidden;
    }
    #content-vendors{
        visibility: hidden;
       
    }
    #content-contact{
        visibility: hidden;
    }
    