.topnav {
    font-family: $header-font;
    
    transition-duration: $transition-time;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    
    vertical-align: middle;
   
    
  
    
    
  }
  .topnav.clicked {
    box-shadow: 0 1px 1px -1px #999;
  }

  

  
  .topnav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: white;
    #converse-logo-item{
      
      margin: 0;
      padding: 0;
      a{
        padding: 0.5em;
      }
    }
    
    

    li {
      display: inline;
    

      a {
        color: $dark-color;
        font-weight: 400;
        padding: 1.5em;
        text-decoration: none;
        
        display: none;
        font-size: 1em;

      }:hover {
        font-weight: bold;
      }
    }
  }
  
  
  
  

  
  #converse-logo-item a{
    display: inline-block;
  }
  
  .material-icons {
    font-size: 0.92em;
  }
  
  #menu-icon {
    position: absolute;
    top: 0;
    right: 0;
    display:block;
  }
  
  .topnav.dropped ul{
    background-color: white;
    li a {
      display: block;
      top: 4em;
    }
  }



  
  #converse-logo {
    transition: 0.4s;
    padding: 0;
    width: 50px;
    
  }
  #menu-logo {
    width: 2em;
    margin: 0;
  }
  
  
  @media screen and (min-width: 800px) {

    #menu-icon {
        display: none;
    }
    #converse-logo-item{
      position: absolute;
      left: 0;
      top: 0;
    }
    
    .topnav ul {
      background-color: rgba(255, 255, 255, 0);
      float: right;
      
      li a {
        display: inline-block;
        color: $superlight-color;
    }
    }
      

    
  }  