$primary-color: "#66d0d0";
$secondary-color: "#2d9e9e";
$light-color: "#bdbdbd";
$dark-color: "#151515";
$superlight-color: "#ffffff";
$line-color: rgba(128, 128, 128, 0.199);

$break-point: 1000px;


